[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch FileManager %u
Icon=org.xfce.filemanager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Keywords[pl]=plik;menedżer;eksplorator;przeglądaj;system plików;katalog;folder;xfce;
Keywords=file;manager;explorer;browse;filesystem;directory;folder;xfce;
OnlyShowIn=XFCE;
X-XFCE-MimeType=inode/directory;x-scheme-handler/trash;
X-AppStream-Ignore=True
Name[pl]=Menedżer plików
Name=File Manager
Comment[pl]=Przegląda system plików i zarządza jego zawartością
Comment=Browse the file system
X-XFCE-Source=file:///usr/share/applications/xfce4-file-manager.desktop
